.main_about{
    width: 100%;
    height: 130vh;
    background-color: var(--ColorPrimary);
    position: relative;
}

.image-background-about{
    margin-top: 5px;
    width: 100%;
    height: 120vh;
    position: absolute;
    object-fit: cover;
  opacity: 0.80; /* 50% de transparencia */
      filter: blur(3px); /* 🔥 Desenfoque */
}

#img_top_about{
    width: 100%;
    top: 0;
    z-index: 2;
    position: absolute;
    transform: rotate(180deg);   
}
#img_down_about{
width: 100%;
position: absolute;
bottom: 50px;
}
.Container-Co{
position: absolute;
width: 60%;
height: 825px;    

top: 48%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
justify-content: center;
flex-direction: row;

}
.aboutLeft{
width: 50%;
height: 100%;
 
display: flex;
align-items: center;
justify-content: center; 
}
.aboutRight{
width: 50%;
height: 100%;

display: flex;
justify-content: space-evenly;
flex-direction: column;
align-items: center;
}
.me{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 height: 93.3%;
 width: 95%;   
  background: linear-gradient(
    to bottom,
    #180C3F,
    #180C3F,
    #231145,
    #30175E,
    #30175E
  );
 border-radius: 10px;
 box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.C-down{
  background: linear-gradient(
    to bottom,
    #180C3F,
    #180C3F,
    #231145,
    #30175E,
    #30175E
  );
width: 95%;
height: 45%;
 border-radius: 10px;
 box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
/*-----------------------------*/
.C-up{
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    #180C3F,
    #180C3F,
    #231145,
    #30175E,
    #30175E
  );
width: 95%;
height: 45%;
 border-radius: 10px;
 box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.C-up_Title{
width: 100%;
height: 25%;
background: linear-gradient(180deg, #bf8fcf, #ff8080);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;
font-family: var(--Fuente);
display: flex;
align-items: center;
justify-content: center;
font-size: 48px;
}
.C-up_Container{
width: 100%;
height: 60%;
display: flex;
align-items: center;
justify-content: center;
}
.C-up_Arrow{
width: 100%;
height: 15%;
display: flex;
align-items: center;
justify-content: center;
}
#btn_left_About{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
  margin-left: 25px;
  background-color: var(--ColorFeatureConectDiv);
  color: white;
}
#btn_right_About{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;

  background-color: var(--ColorFeatureConectDiv);
  color: white;
}


/**----------------------------*/
.C-down_Title{
width: 100%;
height: 25%;
background: linear-gradient(180deg, #bf8fcf, #ff8080);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;
font-family: var(--Fuente);
display: flex;
align-items: center;
justify-content: center;
font-size: 48px;
}
.C-down_Container{
width: 100%;
height: 60%;
display: flex;
align-items: center;
justify-content: center;
}

.C-down_Arrow{
width: 100%;
height: 15%;
display: flex;
align-items: center;
justify-content: center;
}
/*--------------------------------*/
.Contenedor-Educational_down{
  width: 65%;
  height: 95%;
  background-color: #170A31;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: var(--Fuente);
}
.C_educational_img{
width: 45%;
height: 40%;  

display: flex;
align-items: center;
justify-content: center;
}
.C_educational_title{
width: 80%;
height: 15%;
font-size: 25px;  

display: flex;
align-items: center;
justify-items: center;
background: linear-gradient(180deg, #bf8fcf, #ff8080);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;
}
.C_educational_apply{
width: 80%;
height: 15%;  
color: var(--ColorLettersWhiteDif);
display: flex;
align-items: center;
justify-content: space-between;
}
.C_educational_des{

padding-left: 5px;
border-left: 2px solid var(--ColorGreen); /* Borde izquierdo verde */
width: 80%;
height: 25%;  
color: white;
display: flex;
align-items: center;
justify-items: center;

}

.logo_empresa{
  border-radius: 10px;
  width: 50%;
  height: 80%;

}
.logo_empresa > img {
  width: 69px;
}
.C_Up_Educational{

  width: 98%;
  height: 95%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
    background-color: #170A31;
  }
.Contenedor-Educational_up{
  width: 85%;
  height: 95%;

  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--Fuente);
}

.About_1{
height: 16.6%;
width: 85%;
display: flex;
flex-direction: row;
font-size: 21px;

background: linear-gradient(180deg, #bf8fcf, #ff8080);

-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;

}
.About_1 > img{
  margin-top: 7px;
  margin-right: 5px;
  width: 18px;
  height: 18px;
}
.About_2{
height: 10.6%;
width: 85%;
color: white;
}
.About_5 > img{
  margin-top: 3px;
  margin-right: 5px;
  width: 18px;
  height: 18px;
}

.About_3{
height: 12.6%;
width: 85%;

font-size: 14px;
display: flex;
align-items: center;
color: white;
}
.About_4{
height: 16.6%;
width: 85%;

font-size: 12px;
display: flex;
align-items: center;
color: white;
}
.About_5{
height: 16.6%;
width: 85%;
font-size: 16px;
display: flex;
align-items: center;
color: white;

}
.About_6{
height: 16.6%;
width: 85%;
}

.C_me{
  width: 70%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.C_me_title > h1{
background: linear-gradient(180deg, #bf8fcf, #ff8080);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;
}


.C_me_title{
width: 100%;
height: 20%;
display: flex;
align-items: center;
justify-content: center;
font-size: 42px;
font-family: var(--Fuente);
}
.C_me_description{
width: 100%;
height: 30%;
font-size: 25px;
display: flex;
padding-bottom: 30px;
text-align: center;
color: var(--ColorOrange);
font-family: var(--Fuente);
}
.C_me_pic{
width: 100%;
height: 40%;
display: flex;
align-items: center;
justify-content: center;
}
.O_me_circle{
width: 250px;
background-color: #090544;
border-radius: 50%;
height: 250px;
}
.C_me_button{
width: 100%;
height: 10%;
display: flex;
align-items: center;
justify-content: center;
}
.C_me_send{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 52px;
border-radius: 8px;
background: linear-gradient(90deg, #B489C2, #fc7979);
font-size: 17px;
color: white;
font-family: var(--Fuente);
}