:root {
  --ColorPrimary:#2F122E;
  --ColorSecundary:#09050D;
  --ColorOneDegrade:#B489C2;
  --ColorTwoDegrade:#FC8383;
  --ColorCuestionaryDiv:#180C40;
  --ColorFeatureConectDiv:#170825;
  --DivDown:#180C40;
  --ColorGreen:#00FFA5;
  --ColorOrange:#CB7F65;
  --ColorLettersWhiteDif:#ffffff21;
  --Fuente: "Trium", serif;
}

@font-face {
  font-family: 'Trium';
  src: url('./Fonts/Trium.otf') format('opentype'),
       url('./Fonts/Trium.otf') format('opentype');
}
form {
  all: unset;
}
/* Ancho del scroll */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Fondo del track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
}

/* Barra del scroll */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #aa87c9,
    #d58aba,
    #f77c83,
    #f8a173,
    #ffd395
  );;
  border-radius: 10px;
}

/* Hover en el scroll */
::-webkit-scrollbar-thumb:hover {
  background: var(--ColorPrimary);
}